* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Muli;
  background: #F5FAFE;
}

ul, ol {
  list-style: none;
  display: inline;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  display: inline;
}

h1, h2, h3 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.navtop  {
  height: 60px;
  background: #F5FAFE;
}

.navtop .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 20px;
}

.navtop a {
  color:  #333333;
  font-size: 10px;
  line-height: 13px;
}

.navtop span {
  font-weight: bold;
}

.tel {
  margin-top: 5px;
}

.navtop li a {
  margin-left: 98px;
  padding-left: 36.5px;
  height: 18px;
  padding-top: 2px;
  padding-bottom: 3px;
}

.price-box {
  background-image: url("../img/header-surprice.svg");
  background-repeat: no-repeat;
  background-size: 16.5px 16.5px;
}

.star {
  background-image: url("../img/header-star.svg");
  background-repeat: no-repeat;
  background-size: 16.5px 16.5px;  
}

.navbar {
  height: 120px;
  background: #FFFFFF;
}

.navbar .container {
  display: flex;
}

.navbar p {
  font-family: Luckiest Guy;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  margin-top: 51px;
}

.navbar span {
  color: #EC1F46;
}

form.example {
  margin-left: 108px;
  margin-top: 40px;
  width: 350px;
}

form.example input[type=search] {
  padding-top: 12px;
  padding-left: 23px;
  font-size: 17px;
  border: none;
  border-radius: 6px 0px 0px 6px;
  float: left;
  width: 285px;
  height: 40px;
  background: #F5FAFE;
}

form.example input[type=search]::placeholder {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

form.example button {
  float: left;
  width: 65px;
  height: 40px;
  padding: 10px;
  background: #EC1F46;
  border-radius: 0px 6px 6px 0px;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0A223D;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.shopping-cart {
  width: 24px;
  height: 24px;
  margin-left: 238px;
  margin-top: 52px;
}

.profile {
  width: 150px;
  height: 40px;
  margin-top: 45px;
  margin-left: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile p {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin-top: 0;
}

.navbar-bottom {
  height: 80px;
  background: #0A223D;
  padding-top: 32px;
}

.navbar-bottom ul {
  display: flex; 
  justify-content: space-between; 
}

.navbar-bottom a {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bread-crub {
  height: 50px;
  padding-top: 18px;
  background: #F5FAFE;
}

.bread-crub a {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #333333
}

.hotel-name {
  height: 100px;
  background: #F5FAFE;
}

.stars {
  width: 48px;
}

.hotel {
  display: flex;
  align-items: center;
}

.hotel h2 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  width: 268px;
  display: inline;
}

.hotel button.offer {
  width: 70px;
  height: 20px;
  display: block;
  background: #EC1F46;
  border: none;
  border-radius: 3px;
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  margin-bottom: 5px;
  margin-left: 14px;
}

.hotel button.rating {
  width: 65px;
  height: 45px;
  display: block;
  background: #EC1F46;
  border: none;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-left: 693px;
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: #FFFFFF;
}

.hotel button.rating span {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.hotel button.rating span.max-rate {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 18px;
  color: #FFFFFF;

}


.hotel-name p {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  display: block;
}

.hotel-booking {
  height: 450px;
  background: #F5FAFE;
}

.hotel-booking .container {
  display: flex;
  justify-content: space-between;
}

.hotel-photo {
  background-image: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%), url("../img/hotel-photo.jpg");
  width: 728px;
  height: 450px;
  border-radius: 8px; 
}

.price_and_map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking-box {
  width: 350px;
  height: 210px;
  background: #0A223D;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: Nunito;
  font-style: normal;
  display: flex;
  flex-direction: column;
  padding-right: 26px;
}

.room {
  display: flex;

}

.price-text {
  width: 86px;
  height: 59px;
  margin-top: 29px;
  margin-left: 26px;
}

.price-text p {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.price-text h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.price-text span {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.room-option {
  width: 80px;
  height: 40px;
  margin-top: 33px;
  margin-left: 129px;
}

.room-option p {
  font-size: 12px;
  line-height: 16px;
}

.guests {
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  padding-left: 23px;
}

.guest-room {
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  padding-left: 28px;
  margin-top: 8px; 
}

.quick-booking {
  display: flex;
  justify-content: space-between;
  margin-left: 26px;
  margin-top: 9px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.phone {
  background-image: url("../img/phone-call.svg");
  background-repeat: no-repeat;
  padding-left: 22px;
  background-position: left;
}

.booking-box a {
  width: 295px;
  height: 45px;
  background: #EC1F46;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 17px;
  margin-left: 26px;
  padding-top: 13px;
  padding-left: 84px;
}

.map-box {
  max-width: 350px;
  height: 213px;
}

.cards-menu {
  height: 143px;
  background: #F5FAFE;
  padding-top: 68px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.cards a{
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  padding-bottom: 14px;
}

.cards a:hover {
  color: #EC1F46;
  border-bottom: 4px solid #EC1F46;
}

.package-summery {
  background: #F5FAFE;
  height: 842px;
  padding-top: 40px;
}

.s-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
}

.s-card {
  width: 538px;
  height: 200px;
  border-radius: 8px 8px 8px 0px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.card-header {
  height: 50px;
  background: #0A223D;
  border-radius: 4px 4px 0px 0px;
  padding-top: 18px;
  padding-left: 24.75px;
}


.s-card h3, .l-card h3  {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  color: #FFFFFF;
}

.card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 27px;
  padding-left: 24px;
}

.card-content p {
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  padding-left: 39.25px;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.second p:nth-child(3) {
  background-image: none;
  font-style: italic;
  margin-top: 7px;
  margin-bottom: 0;
}

.second p:nth-child(2) {
  background-image: url(../img/calendar.svg);
  background-size: 15px 15px;
  padding-left: 39px;
  font-size: 14px;
  line-height: 18px;
}

.l-card  {
  margin-top: 33px;
  height: 550px;
  background: #FFFFFF;
  border-radius: 8px;
}

.l-card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  padding-left: 25px;
  padding-top: 38px;
  padding-bottom: 23px;
  border-bottom: 1px dashed #E0E0E0;
}

.l-card h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #EC1F46;  
}

.l-card-content p, .l-card-content-footer p {
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  padding-left: 39.25px;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.l-card-content-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  margin-top: 32px;
  padding-left: 25px;
}

.hotels-review {
  margin-top: 105px;
}

.hotels-review h2 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.tripadvisor-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 65px;
}

.tripadvisor-card {
  height: 500px;
  background: #0A223D;
  border-radius: 8px;
}

.card-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
}

.hotel-features {
  padding-top: 38px;
  padding-left: 44px;
  padding-right: 21px;
  position: relative;
}

h6 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.card-1 p, .card-2 p, .card-3 p, .card-4 p, .card-5 p {
  margin-top: 27px;
  font-size: 14px;
  line-height: 160.6%;
  color: #FFFFFF;
}



.person-room {
  margin-top: 34px;  
}

.person-room p {
  margin: 0;
  padding-left: 28px;
  background-size: 14px 14px;
  margin-bottom: 10px;
  background-position-y: 20%;
  font-size: 12px;
  line-height: 15px;
}

.person-room p:last-child {
  margin-bottom: 0;
}

.map-pin {
  background-image: url(../img/map-pin.svg);
  background-repeat: no-repeat;
}

.price {
  margin-top: 45px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.price .old-price {
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #FFFFFF;
  margin-top: 0;
}

.price .new-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 5px;
}

.price a {
  box-sizing: border-box;
  border: none;
  width: 120px;
  height: 40px;
  background: #EC1F46;
  border-radius: 4px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  padding-top: 11px;
  padding-left: 26px;
  margin-top: 14px;
}

.card-2, .card-3, .card-4, .card-5 {
  display: flex;
  flex-direction: column;
}

.card-2 .hotel-features,
.card-3 .hotel-features,
.card-4 .hotel-features,
.card-5 .hotel-features {
  padding-top: 30px;
  padding-left: 32px;
}

.card-2 .person-room,
.card-3 .person-room,
.card-4 .person-room,
.card-5 .person-room {
  margin-top: 23px;
}

.card-2 .price,
.card-3 .price,
.card-4 .price,
.card-5 .price {
  margin-top: 24px;
}

.price .small-card-button {
  margin-top: 15px;
}

article {
  margin-top: 110px;
}

article h2 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

/*Carousel*/

.carousel-wrapper {
  height:400px;
  position:relative;
  width:800px;
  margin:0 auto;
}

.carousel-wrapper h2 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
  margin-top: 9px;
}

.carousel-wrapper h3 {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
  margin-top: 10px;
  text-align: center;
}

.carousel-wrapper .stars {
  margin: 0 auto;
}

.carousel-item {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding: 0 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
  background: #FFFFFF;
  border-radius: 8px;
  margin-top: 115px;
}

.user-info {
  width: 107px;
  margin: 0 auto;
  margin-top: -45px;
}

.user-info .user-img {
  margin: 0 auto;
  display: block;
}

.carousel-item p {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  color: #333333;
  margin: 0 auto;
  margin-top: 33px;
  max-width: 537px;
}

.arrow {
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next {
  right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
}

.light {
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background-size:cover;
  }
.item-2 {
   background-size:cover;
}
.item-3 {
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

.subscribe {
  height: 260px;
  margin-top: 70px;
  background-image: url("../img/Rectangle-25.jpg");
  background-color: rgba(10, 34, 61, 0.8);
  background-blend-mode: multiply;
  background-size: cover;
  padding-top: 98px;
}

.subscribe .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 790px;
}

.subscribe-form form {
  margin: 0;
  padding: 0;
}

.subscribe p {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.subscribe span {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-form form.example {
  width: 415px;
}

form.example input[type=input] {
  padding-top: 19px;
  padding-left: 33px;
  font-size: 17px;
  border: none;
  border-radius: 6px 0px 0px 6px;
  float: left;
  width: 350px;
  height: 55px;
  line-height: 18px;
  background: #F5FAFE;
}

form.example input[type=input]::placeholder {
  font-family: Muli;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #BDBDBD;
  vertical-align: bottom;
}

.subscribe-form form button {
  float: left;
  width: 65px;
  height: 55px;
  padding: 10px;
  background: #EC1F46;
  border-radius: 0px 6px 6px 0px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border: none;
  border-left: none;
  cursor: pointer;
}


form.example button:hover {
  background: #0A223D;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.other-activities {
  height: 500px;
  padding-top: 60px;
}

.other-activities h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.activities {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}

.activiti-card {
  width: 255px;
  height: 255px;
  border-radius: 6px;
  padding-top: 143px;
  padding-left: 26px;
}

.activiti-card h5 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.activiti-card button {
  margin-top: 18px;
  width: 100px;
  height: 30px;
  background: #EC1F46;
  border-radius: 4px;
  border: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.activiti-card:first-child {
  background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url("../img/Rectangle-22.jpg");
}

.activiti-card:nth-child(2) {
  background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url("../img/Rectangle-22-2.jpg");
}

.activiti-card:nth-child(3) {
  background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url("../img/Rectangle-22-3.jpg");
}

.activiti-card:last-child {
  background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url("../img/Rectangle-22-4.jpg");
}

footer {
  height: 900px;
  background: #0A223D;
  padding-top: 108px;
}

footer h6 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  text-transform: uppercase;
}

footer li a {
  display: block;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #BDBDBD;
}

footer li:first-child a {
  margin-top: 20px;
}

.footer-top {
  display: flex;
}

.footer-top-logo {
  font-family: Luckiest Guy;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 64px;
  color: white;
  padding-top: 31px;
  margin-right: 120px;
}

.footer-top-logo span {
  color: #EC1F46;
}

.footer-top-nav {
  height: 218px;
  margin-right: 145px;
}

.footer-top-legal {
  margin-left: 60px;
}

.footer-top-contacts li:last-child a {
  margin-bottom: 18px;
}

.footer-top-contacts-social {
  display: flex;
  align-items: center;
}

.icons {
  margin-left: 43px;
  align-items: center;
  display: flex;
  width: 80px;
  height: 26px;
  justify-content: space-between;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  
}


.contact-details {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #BDBDBD;
}

.contact-details h6 {
  margin-bottom: 25px;
  margin-top: 101px;
}

.contact-details li a {
  padding-left: 42px;
}

.contact-details li:first-child a {
  background-image: url(../img/location.svg);
  background-repeat: no-repeat;
}

.contact-details li:nth-child(2) a {
  background-image: url(../img/phone-call-2.svg);
  background-repeat: no-repeat;
  margin-top: 25px;
}

.contact-details li:last-child a {
  background-image: url(../img/email.svg);
  background-repeat: no-repeat;
  margin-top: 25px;
}

.feedback {
  margin-top: 89px;
  width: 540px;
  height: 317px;
}

.feedback form {
  margin-top: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px 30px;
}

form input {
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  height: 50px;
  padding-top: 18px;
  padding-left: 23px;
}

form textarea {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 8;
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding-top: 18px;
  padding-left: 23px;
}

form button {
  width: 160px;
  height: 50px;
  background: #EC1F46;
  border-radius: 4px;
  border: none;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 6px;
}

form input::placeholder, form textarea {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #BDBDBD;
}

form p {
  padding-top: 25px;
  padding-left: 155px;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
}

.footer-bottom {
  margin-top: 100px;
}

.description {
  margin: 0 auto;
  max-width: 290px;
}

.description li a {
  display: inline;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-right: 8px;
}