* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Muli;
}

ul, ol {
  list-style: none;
  display: inline;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  display: inline;
}

h1, h2, h3 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.navtop  {
  height: 60px;
  background: #F5FAFE;
}

.navtop .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 20px;
}

.navtop a {
  color:  #333333;
  font-size: 10px;
  line-height: 13px;
}

.navtop span {
  font-weight: bold;
}

.tel {
  margin-top: 5px;
}

.navtop li a {
  margin-left: 98px;
  padding-left: 36.5px;
  height: 18px;
  padding-top: 2px;
  padding-bottom: 3px;
}

.price-box {
  background-image: url("/app/img/header-surprice.svg");
  background-repeat: no-repeat;
  background-size: 16.5px 16.5px;
}

.star {
  background-image: url("/app/img/header-star.svg");
  background-repeat: no-repeat;
  background-size: 16.5px 16.5px;  
}

.navbar {
  height: 120px;
}

.navbar .container {
  display: flex;
}

.navbar p {
  font-family: Luckiest Guy;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  margin-top: 51px;
}

.navbar span {
  color: #EC1F46;
}

form.example {
  margin-left: 108px;
  margin-top: 40px;
  width: 350px;
}

form.example input[type=search] {
  padding: 10px;
  font-size: 17px;
  border: none;
  border-radius: 6px 0px 0px 6px;
  float: left;
  width: 285px;
  background: #F5FAFE;
}

input[type=search]::placeholder {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

form.example button {
  float: left;
  width: 65px;
  padding: 10px;
  background: #EC1F46;
  border-radius: 0px 6px 6px 0px;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0A223D;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.shopping-cart {
  width: 24px;
  height: 24px;
  margin-left: 238px;
  margin-top: 52px;
}

.profile {
  width: 150px;
  height: 40px;
  margin-top: 45px;
  margin-left: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile p {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin-top: 0;
}

.navbar-bottom {
  height: 80px;
  background: #0A223D;
  padding-top: 32px;
}

.navbar-bottom ul {
  display: flex; 
  justify-content: space-between; 
}

.navbar-bottom a {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bread-crub {
  height: 50px;
  padding-top: 18px;
  background: #F5FAFE;
}

.bread-crub a {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #333333
}

.hotel-name {
  height: 100px;
  background: #F5FAFE;
  padding-top: 24px;
}

.stars {
  width: 48px;
  margin-bottom: 4px;
}

.hotel h2 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  max-width: 268px;
  display: inline;
}

.hotel button {
  width: 70px;
  height: 20px;
  background: #EC1F46;
  border: none;
  border-radius: 3px;
  display: inline;
  box-sizing: border-box;
}