* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Muli;
}

ul, ol {
  list-style: none;
  display: inline;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  display: inline;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.navtop  {
  height: 60px;
  background: #F5FAFE;
}

.navtop .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 20px;
}

.navtop a {
  color:  #333333;
  font-size: 10px;
  line-height: 13px;
}

.navtop span {
  font-weight: bold;
}

.tel {
  margin-top: 5px;
}

.navtop li a {
  margin-left: 98px;
  padding-left: 36.5px;
  height: 18px;
  padding-top: 2px;
  padding-bottom: 3px;
}

.price-box {
  background-image: url("/app/img/header-surprice.svg");
  background-repeat: no-repeat;
  background-size: 16.5px 16.5px;
}

.star {
  background-image: url("/app/img/header-star.svg");
  background-repeat: no-repeat;
  background-size: 16.5px 16.5px;  
}

.navbar {
  height: 120px;
}

.navbar .container {
  display: flex;
}

.navbar p {
  font-family: Luckiest Guy;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  margin-top: 51px;
}

.navbar span {
  color: #EC1F46;
}

.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #F5FAFE;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
  color: #333333;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
  color: #333333; 
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #333333;  
}

.container-4 input#search:-ms-input-placeholder {  
  color: #333333;  
}

.container-4 button.icon {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 1;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-4:hover button.icon:hover{
  background: #EC1F46;
}